.app-search-box {
    margin: 10px;
    position: absolute;
}


.page-body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-size: 100vw 100vh;
    transition: all 1.5s;
    padding: 0;
  }